<%- include('../layout/header.ejs') -%>

</head>

<body>
    <div class="page-wrapper">
        <header class="header">


            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/" class="logo">
                            <img src="images/soundwave/logoblack.png" alt="Soundwave Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu ">
                                <li class="megamenu-container active">
                                    <a href="/" class="">Home</a>

                                    <!-- End .megamenu -->
                                </li>
                                <li>
                                    <a href="/products" class="">Products</a>

                                    <!-- End .megamenu megamenu-md -->
                                </li>
                                <li>
                                    <a class="sf-with-ul">Category</a>
                                    <ul>
                                        <li><a href="/products">Headphones</a></li>
                                        <li><a href="/products">Earbuds</a></li>
                                        <li><a href="/products">Speakers</a></li>
                                        <li><a href="/products">Soundbars</a></li>
                                    </ul>

                                </li>

                                <li>
                                    <a href="/about">About</a>


                                </li>

                            </ul><!-- End .menu -->
                        </nav>
                    </div>

                    <!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->



<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About us</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <div class="container">
        <div class="page-header page-header-big text-center" style="background-image: url('images/soundwave-img/about.jpg')">
            <h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
        </div><!-- End .page-header -->
    </div><!-- End .container -->

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <h2 class="title">Our Vision</h2><!-- End .title -->
                    <p>"Soundwave is India’s No 1 exclusive online store for headphones, earphones and personal Audio devices featuring the world's finest headphones from brands renowned for their sound, design and style." </p>
                </div><!-- End .col-lg-6 -->
                
                <div class="col-lg-6">
                    <h2 class="title">Our Mission</h2><!-- End .title -->
                    <p>"Soundwave is India's #1 audiophile store and the purveyors of the world's finest headphones since 2023. Music is at the core of what we do; and it's our aim to help you rediscover your music and help you enjoy the riffs, basslines and solos that were always there, but never heard." </p>
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->

            <div class="mb-5"></div><!-- End .mb-4 -->
        </div><!-- End .container -->

        <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mb-3 mb-lg-0">
                        <h2 class="title">Who We Are</h2><!-- End .title -->
                        <p class="mb-2">In a world full of technology and advancement, Soundwave Audio has emerged as a brand and brought happiness into the lives of its customers with its promising quality. The company is constantly working on its futuristic vision, coming up with more additions too our product line-up. Talking about our earphones, they have been designed with comfort as a priority, so that when our customers go outside, they can feel the same comfort that they feel at home. Our range of wireless headphones and earphones come equipped with utility-based high comfort foam that helps you drown out the noise around you. They come paired with state of the art audio drivers that have a very wide emission spectrum that allows reproducion of audio notes through a wider audio spectrum.We consider Soundwave to be a direct solution for fulfilling your need for an audio deliverance experience which is designed in a way that the music you listen to provides an out of the world experience.</p>

                        
                    </div><!-- End .col-lg-5 -->

                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .bg-light-2 pt-6 pb-6 -->


        <div class="mb-2"></div><!-- End .mb-2 -->

    </div><!-- End .page-content -->
</main><!-- End .main -->

<%- include('../layout/lyfooter.ejs') -%>