<div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
<aside class="sidebar-shop sidebar-filter">
    <div class="sidebar-filter-wrapper">
        <div class="widget widget-clean">
            <label><i class="icon-close"></i>Filters</label>
            <a href="#" class="sidebar-filter-clear">Clean All</a>
        </div><!-- End .widget -->
        <div class="widget widget-collapsible">
            <h3 class="widget-title">
                <a data-toggle="collapse" href="#widget-1" role="button"
                    aria-expanded="true" aria-controls="widget-1">
                    Category
                </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-1">
                <div class="widget-body">
                    <div class="filter-items filter-items-count">
                        <% category.forEach(e=>{ %>
                        <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                id="<%= e._id %>" name="category" value="<%= e._id %>">
                                <label class="custom-control-label"
                                    for="cat-1"><%= e.name %></label>
                            </div><!-- End .custom-checkbox -->
                            <span class="item-count">3</span>
                        </div><!-- End .filter-item -->
                        <% }) %>

                    </div><!-- End .filter-items -->
                </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
        </div><!-- End .widget -->


        <div class="widget widget-collapsible">
            <h3 class="widget-title">
                <a data-toggle="collapse" href="#widget-3" role="button"
                    aria-expanded="true" aria-controls="widget-3">
                    Colour
                </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-3">
                <div class="widget-body">
                    <div class="filter-colors">
                        <a href="#" style="background: #b87145;"><span class="sr-only">Color
                                Name</span></a>
                        <a href="#" style="background: #f0c04a;"><span class="sr-only">Color
                                Name</span></a>
                        <a href="#" style="background: #333333;"><span class="sr-only">Color
                                Name</span></a>
                        <a href="#" class="selected" style="background: #cc3333;"><span
                                class="sr-only">Color Name</span></a>
                        <a href="#" style="background: #3399cc;"><span class="sr-only">Color
                                Name</span></a>
                        <a href="#" style="background: #669933;"><span class="sr-only">Color
                                Name</span></a>
                        <a href="#" style="background: #f2719c;"><span class="sr-only">Color
                                Name</span></a>
                        <a href="#" style="background: #ebebeb;"><span class="sr-only">Color
                                Name</span></a>
                    </div><!-- End .filter-colors -->
                </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
        </div><!-- End .widget -->

        <div class="widget widget-collapsible">
            <h3 class="widget-title">
                <a data-toggle="collapse" href="#widget-4" role="button"
                    aria-expanded="true" aria-controls="widget-4">
                    Brand
                </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-4">
                <div class="widget-body">
                    <div class="filter-items">
                        <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                    id="brand-1">
                                <label class="custom-control-label"
                                    for="brand-1">Boat</label>
                            </div><!-- End .custom-checkbox -->
                        </div><!-- End .filter-item -->

                        <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                    id="brand-2">
                                <label class="custom-control-label" for="brand-2">JBL</label>
                            </div><!-- End .custom-checkbox -->
                        </div><!-- End .filter-item -->

                        <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                    id="brand-3">
                                <label class="custom-control-label"
                                    for="brand-3">Mivi</label>
                            </div><!-- End .custom-checkbox -->
                        </div><!-- End .filter-item -->

                        <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                    id="brand-4">
                                <label class="custom-control-label" for="brand-4">Oneplus</label>
                            </div><!-- End .custom-checkbox -->
                        </div><!-- End .filter-item -->

                        <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                    id="brand-5">
                                <label class="custom-control-label"
                                    for="brand-5">Asus</label>
                            </div><!-- End .custom-checkbox -->
                        </div><!-- End .filter-item -->

                        <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                    id="brand-6">
                                <label class="custom-control-label"
                                    for="brand-6">Sony</label>
                            </div><!-- End .custom-checkbox -->
                        </div><!-- End .filter-item -->

                        <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                    id="brand-7">
                                <label class="custom-control-label"
                                    for="brand-7">Zebronics</label>
                            </div><!-- End .custom-checkbox -->
                        </div><!-- End .filter-item -->

                    </div><!-- End .filter-items -->
                </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
        </div><!-- End .widget -->

        <div class="widget widget-collapsible">
            <h3 class="widget-title">
                <a data-toggle="collapse" href="#widget-5" role="button"
                    aria-expanded="true" aria-controls="widget-5">
                    Price
                </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-5">
                <div class="widget-body">
                    <div class="filter-price">
                        <div class="filter-price-text">
                            Price Range:
                            <span id="filter-price-range"></span>
                        </div><!-- End .filter-price-text -->

                        <div id="price-slider"></div><!-- End #price-slider -->
                    </div><!-- End .filter-price -->
                </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
        </div><!-- End .widget -->
    </div><!-- End .sidebar-filter-wrapper -->
</aside><!-- End .sidebar-filter -->