<aside class="col-md-4 col-lg-2 col-sm-2">
  <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
    <li class="nav-item">
      <a class="nav-link <%= activePage === 'profile' ? 'active' : '' %>" id="tab-dashboard-link" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= activePage === 'orders' ? 'active' : '' %>" id="tab-orders-link" href="/orders">Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= activePage === 'address' ? 'active' : '' %>" id="tab-address-link" href="/address">Addresses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= activePage === 'coupon' ? 'active' : '' %>" id="tab-account-link" href="/coupon">Coupons</a>
    </li>
    <li class="nav-item">
      <form action="/logout" method="post" id="sidebarLogoutForm">
        <a class="nav-link" href="#">
          <button type="submit" class="border-0 bg-transparent">Sign Out</button>
        </a>
      </form>
    </li>
  </ul>
</aside>
